/* GENERAL STYLING
--------------------------------------------------------------*/

.header {
    margin: var(--spacer) auto;
    display: flex;
    justify-content: flex-start;
	align-items: center;
}

.img--header {
	max-width: 8rem;
}

.main-content {
	max-width: 95%;
	margin: 0 auto;
}

.label {
	font-weight: 700;
}

.field {
	display: flex;
	flex-direction: column;
	margin: var(--spacer) 0;
}

.authors,
.recipients {
	background: var(--clr-accent-parchment-opaque);
}

.radio-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content:first baseline;
}

.radio-button {
	padding-right: var(--spacer);
}

.write-letter {
	padding: var(--spacer) 0;
}

.display-letters {
	margin: 2rem auto;
	padding: var(--spacer) 0;
}

.letter {
	margin: var(--spacer) auto;
	padding: 2rem;
}

.letter:nth-child(even) {
	border: 2px solid var(--clr-neutral-300);
	background: var(--clr-accent-parchment-opaque);
	color: var(--clr-neutral-700);
	font-weight: 600;
}

.letter:nth-child(odd) {
	border: 2px solid var(--clr-neutral-500);
	background: var(--clr-accent-parchment-opaque-2);
	color: var(--clr-neutral-800);
	font-weight: 600;
}

.ltr {
	margin: var(--spacer) 0;
}

.letter--email,
.letter--date {
	font-weight: 400;
}

.letter--topic {
	display: inline-block;
	text-decoration: none;
	letter-spacing: .1rem;
	font-weight: 600;
	font-size: 1.125rem;
	padding: .5em 1.5em;
	background: var(--clr-accent-quill-opaque);
	color: var(--clr-neutral-800);
	border-radius: 1.6rem;
	align-content: center;
}

.footer {
	color: var(--clr-neutral-700);
	font-weight: 500;
	font-size: .75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacer);
	margin: var(--spacer) 0;
}

.footer--left {
	display: flex;
	align-items: center;
}

.footer--right 	{
	display: flex;
	justify-content: flex-end;
	align-content: center;
}

.img--footer {
	margin-right: .5rem;
}
